html {
	margin: 0;
	padding: 0;
	}
body { 
	line-height: 1.88889;
	background-color: lightblue;
	margin: 0; 
	padding: 0;
	}
p { 
	margin-top: 0; 
	text-align: justify;
	font-size: 20px;
	}
p.small {
  font-size: 16px;
}

p.medium {
  font-size: 20px;
}

p.large {
  font-size: 24px;
}
h1 {
  font: bold;
  color: #000000;
  text-align: center;
  font-size: 40px;
}
h2 {
  font: bold;
  color: #000000;
  text-align: center;
  font-size: 30px;
}
h3 {
  font: bold;
  color: #000000;
  text-align: center;
  font-size: 20px;
}
a:link { 
	font-weight: bold; 
	text-decoration: none; 
	color: #B7A5DF;
	}
a:visited { 
	font-weight: bold; 
	text-decoration: none; 
	color: #D4CDDC;
	}
a:hover, a:focus, a:active { 
	text-decoration: underline; 
	color: #9685BA;
	}
abbr {
	border-bottom: none;
	}


ul.navbar {
  background-color: #333;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

ul.navbar li {
  float: left;
}

ul:not(.navbar) {
  list-style-type: disc;
  padding-left: 40px;   /* space at the beginning */
  margin-top: 10px;
  background: none;
}
.center-text {
  text-align: center;
}
.center-list li {
  text-align: center;
  list-style-type: none; 
}
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 20px;
  text-decoration: none;
}

li a:hover {
  background-color: #000000;
}
.footer-links a {
  color: darkgreen;
  text-decoration: none;
}

.footer-links a:hover {
  color: black;
}
.center-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.space {
  margin-top: 40px;
}
.green-link {
  color: darkgreen;
}

.black-link {
  color: black;
}
/*  Gallery display styling */
body#gallery {
   background: LightSteelBlue;
}

div.side-by-side {
    display: flex;
}

figure { background: black; text-align:center; }
figcaption {font-size:smaller; font-style:italic; color:papayawhip; 
text-align:left; padding-left:1em; padding-right:1em;}
img {
    width: 90%;
    max-width: 400px;
}

.featureBlock {
    background-color:pink;
    font-size: smaller;
}
